body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.src-link-container {
  height: 100vh; /* Make the container the full viewport height */
  display: flex; /* Use flexbox to center vertically and horizontally */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

#filePath {
  text-align: center; /* Center the text horizontally within the paragraph */
}
